@font-face {
	font-family: 'cocacolaii';
	src: url('./cocacolaii.eot');
	src: local('cocacolaii'), url('./cocacolaii.woff') format('woff'), url('./cocacolaii.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1065">Text with this font applied</p> */
.fontsforweb_fontid_1065 {
	font-family: 'cocacolaii' !important;
}

/* Font downloaded from FontsForWeb.com */